#app-title {
  font-weight: 500;
  font-size: 1.8em !important;
}

#log {
  height: 800px;
  overflow-y: scroll;
}

.log-entry {
  background: #f0f1f2;
  padding: 2px 4px;
  border-radius: 3px;
  margin-bottom: 3px;
}
.log-warn .msg {
  color: orange;
}
.log-error .msg {
  color: red;
}
