#app-title {
  font-weight: 500;
  font-size: 1.8em !important;
}

#log {
  height: 800px;
  overflow-y: scroll;
}
.card-header button {
  float: right;
  margin-left: 8px;
  padding: 0 8px;
  height: 24px;
}

.log-entry {
  background: #f0f1f2;
  font-size: 0.85em;
  padding: 2px 4px;
  border-radius: 3px;
  margin-bottom: 3px;
}
.log-success .msg {
  color: #35c10e;
}
.log-warn .msg {
  color: #ef9d08;
}
.log-error .msg {
  color: #b61a1a;
}

#visualization {
  border-radius: 3px;
  padding-bottom: 4px;
}

#visualization .column {
  text-align: center;
}

#visualization .column>:first-child  {
  margin-left: 0 !important;
}

#visualization .cell {
  background: #f2f2f2;
  border-radius: 3px;
  color: #000;
  font-size: 0.8em;
  margin-left: 4px;
  margin-top: 4px;
  display: inline-flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

#visualization .note-name-C {
  background-color: #e5f3ff;
}
#visualization .note-name-D,
#visualization .note-name-E,
#visualization .note-name-F,
#visualization .note-name-G,
#visualization .note-name-A,
#visualization .note-name-B
 {
  background-color: #e5ffe0;
}
#visualization .note-name-invalid {
  background-image: linear-gradient(135deg, #fafafa 25%, #f2f2f2 25%, #f2f2f2 50%, #fafafa 50%, #fafafa 75%, #f2f2f2 75%, #f2f2f2 100%);
  background-size: 16px 16px;
}

#visualization .highlight {
  display: block;
  position: absolute;
  /* animation: fade 0.2s linear; */
  border-radius: 50%;
  background-color: rgba(255, 0, 0, 0.238);
  width: 16px;
  height: 16px;
}
#visualization .highlight-1 {
  background-color: rgba(255, 0, 0, 0.35);
}
#visualization .highlight-2 {
  background-color: rgba(255, 225, 0, 0.35);
}
#visualization .highlight-3 {
  background-color: rgba(68, 255, 0, 0.35);
}
#visualization .highlight-4 {
  background-color: rgba(0, 255, 251, 0.35);
}
#visualization .highlight-5 {
  background-color: rgba(0, 89, 255, 0.35);
}
#visualization .highlight-6 {
  background-color: rgba(247, 0, 255, 0.35);
}
#visualization .highlight-9 {
  background-color: rgba(255, 255, 255, 0.35);
}
#visualization .highlight-9 {
  background-color: rgba(246, 138, 50, 0.35);
}
#visualization .highlight-10 {
  background-color: rgba(179, 255, 0, 0.35);
}
#visualization .highlight-11 {
  background-color: rgba(255, 0, 162, 0.35);
}

#visualization .played-out-of-time {
  border: 3px solid #b61a1a;
}
#visualization .played-in-time {
  border: 3px solid #1ab637;
}
#visualization .played-early {
  border: 3px solid #0dcaf0;
}
#visualization .played-late {
  border: 3px solid #0d6efd;
}


.form-label {
  /* margin-top: .5rem; */
  margin-bottom: .2rem;
}

select, input {
  margin-bottom: .5rem;
}
